@charset "UTF-8";

 div.left  {
	         width:  30%;
	         float:  left;
	         box-sizing:  border-box;
	                  
}

   
 div.right  {
	        width:  70%;
	        float:  right;
	        box-sizing:  border-box;
	               
}