<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.AdminMapper">
	<select id="getMember" resultType="com.team.honeybee.domain.MemberDto">
		SELECT 
			member_id memberId,
		 	name,
		 	email,
		 	nickname,
		 	postcode,
		 	phone
		 FROM Member
		 WHERE member_id != 'admin'
		 ORDER BY create_date DESC
	</select>
	<update id="modifyMember">
		UPDATE Member
		SET member_id = #{memberId},
			name = #{name},
			email = #{email},
			nickname = #{nickname},
			postcode = #{postcode},
			phone = #{phone}
		WHERE member_id = #{memberId}
	</update>
	<delete id="deleteMember">
		DELETE FROM Member
		WHERE member_id = #{memberId}
	</delete>
	<select id="getDonationAll" resultType="com.team.honeybee.domain.DonationDto">
		SELECT d.donation_id donationId,
				d.title,
				m.nickname,
				d.inserted,
				d.expired,
				d.enable,
				d.goal,
				d.current_amount currentAmount,
				d.topic,
				bi.main_image_name MPhoto,
				bi.image_folder_id folderName
		FROM Donation d LEFT JOIN Member m ON d.member_id = m.member_id
						LEFT JOIN BoardImage bi ON d.donation_id = bi.donation_id
		WHERE bi.main_image_name IS NOT NULL
		GROUP BY d.donation_id
		ORDER BY enable ASC, expired ASC
	</select>
	
	<select id="getDonationById" resultType="com.team.honeybee.domain.DonationDto">
		SELECT d.donation_id donationId,
				d.title,
				d.content,
				m.nickname,
				d.inserted,
				d.expired,
				d.goal,
				d.current_amount currentAmount,
				d.enable,
				bi.main_image_name MPhoto,
				bi.image_folder_id folderName
		FROM Donation d LEFT JOIN Member m ON d.member_id = m.member_id
						LEFT JOIN BoardImage bi ON d.donation_id = bi.donation_id
		WHERE d.donation_id = #{donationId} AND bi.main_image_name IS NOT NULL
	</select>
	
	<update id="registerDonation">
		UPDATE Donation
		SET enable = 1
		WHERE donation_id = #{donationId}
	</update>
	
	<select id="getTalentAll" resultType="com.team.honeybee.domain.TalentDto">
		SELECT t.talent_id talentId,
			   t.title,
			   m.nickname,
			   t.enable enable,
			   bi.main_image_name MPhoto,
			   bi.image_folder_id folderName
		FROM Talent t LEFT JOIN Member m ON t.member_id = m.member_id
					  LEFT JOIN BoardImage bi ON t.talent_id = bi.talent_id
		WHERE bi.main_image_name IS NOT NULL
		GROUP BY talentId
		ORDER BY enable ASC, talentId DESC
	</select>
	
	<select id="getTalentById" resultType="com.team.honeybee.domain.TalentDto">
		SELECT t.talent_id talentId,
			   t.title,
			   t.content,
			   t.price,
			   t.expired,
			   t.topic,
			   t.map_level mapLevel,
			   t.address,
			   m.nickname,
			   t.enable,
			   bi.main_image_name MPhoto,
			   bi.image_folder_id folderName
		FROM Talent t LEFT JOIN Member m ON t.member_id = m.member_id
					  LEFT JOIN BoardImage bi ON t.talent_id = bi.talent_id
		WHERE t.talent_id = #{talentId} AND bi.main_image_name IS NOT NULL
	</select>
	
	<update id="registerTalent">
		UPDATE Talent
		SET enable = 1
		WHERE talent_id = #{talentId}
	</update>
	
	<select id="getMeetingAll" resultType="com.team.honeybee.domain.MeetingDto">
		SELECT m.meeting_id meetingId, 
			   m.title, 
			   mem.nickname, 
			   m.start_date startDate, 
			   m.end_date endDate,
			   f.file mainPhoto
		FROM Meeting m LEFT JOIN Member mem ON m.member_id = mem.member_id
					   LEFT JOIN MeetingFile f ON m.meeting_id = f.meeting_id
		GROUP BY m.meeting_id
		ORDER BY m.meeting_id DESC
	</select>
	
	<select id="getMeetingById" resultType="com.team.honeybee.domain.MeetingDto">
		
	</select>
	
	<select id="getMarketAll" resultType="com.team.honeybee.domain.MarketDto">
		SELECT m.market_id marketId,
			   m.member_id memberId,
			   m.title, 
			   m.product_name productName, 
			   m.price,
			   f.file thumbNailImage,
			   COUNT(f.market_id) hasFile
		FROM Market m LEFT JOIN MarketFile f ON m.market_id = f.market_id
		GROUP BY m.market_id
		ORDER BY m.market_id DESC
	</select>
	
	<select id="selectMarketById" resultType="com.team.honeybee.domain.MarketDto">
		SELECT market_id marketId,
			   member_id memberId,
			   title,
			   content,
			   inserted,
			   price,
			   product_name productName,
			   total,
			   enable
		FROM Market
		WHERE market_id = #{marketId}
	</select>
	
	<select id="selectFileNameByMarketId" resultType="string">
		SELECT file fileName
		FROM MarketFile
		WHERE market_id = #{marketId}
	</select>
	
	<insert id="inserMarket" useGeneratedKeys="true" keyColumn="marketId" keyProperty="marketId">
		INSERT INTO Market (member_id, title, content, price, product_name)
		VALUES(#{memberId}, #{title}, #{content}, #{price}, #{productName})
	</insert>
	
	<update id="updateMarket">
		UPDATE Market
		SET title = #{title},
			content = #{content},
			product_name = #{productName},
			price = #{price}
		WHERE market_id = #{marketId}
	</update>
	
	<delete id="deleteMarket">
		DELETE FROM Market
		WHERE market_id = #{marketId}
	</delete>
	
	<insert id="insertFile">
		INSERT INTO MarketFile (market_id, file)
		VALUES (#{marketId}, #{file})
	</insert>
	
	<delete id="deleteFileByMarketId">
		DELETE FROM MarketFile
		WHERE market_id = #{marketId}
	</delete>
	
	<delete id="deleteFileByMarketIdAndFileName">
		DELETE FROM MarketFile
		WHERE market_id = #{marketId}
			AND file = #{file}
	</delete>
	
	<select id="getFaqAll" resultType="com.team.honeybee.domain.FaqDto">
		SELECT f.question_id questionId, 
			   f.member_id memberId, 
			   f.title, 
			   f.content, 
			   f.inserted, 
			   f.email,
			   f.enable,
			   ff.file thumbNailImage
		FROM Faq f LEFT JOIN FaqFile ff ON f.question_id = ff.question_id
		GROUP BY questionId
		ORDER BY questionId, enable
	</select>
</mapper>