<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.AdminMapper">
	<select id="getMember" resultType="com.team.honeybee.domain.MemberDto">
		SELECT 
			member_id memberId,
		 	name,
		 	email,
		 	nickname,
		 	postcode,
		 	phone
		 FROM Member
		 ORDER BY create_date DESC
	</select>
	<update id="modifyMember">
		UPDATE Member
		SET member_id = #{memberId},
			name = #{name},
			email = #{email},
			nickname = #{nickname},
			postcode = #{postcode},
			phone = #{phone}
		WHERE member_id = #{memberId}
	</update>
	<delete id="deleteMember">
		DELETE FROM Member
		WHERE member_id = #{memberId}
	</delete>
	<select id="getDonationAll" resultType="com.team.honeybee.domain.DonationDto">
		SELECT d.donation_id donationId, d.title, m.nickname, d.expired, d.enable
		FROM Donation d LEFT JOIN Member m ON d.member_id = m.member_id
		ORDER BY enable ASC
	</select>
	
	<select id="getMeetingAll" resultType="com.team.honeybee.domain.MeetingDto">
		SELECT m.meeting_id, m.title, mem.nickname, m.start_date, m.end_date
		FROM Meeting m LEFT JOIN Member mem ON m.member_id = mem.member_id
		ORDER BY m.meeting_id DESC
	</select>
	
	<select id="getMarketAll" resultType="com.team.honeybee.domain.MarketDto">
		SELECT m.market_id,
			   m.member_id,
			   m.title, 
			   m.product_name, 
			   m.price,
			   f.file thumbNailImage,
			   COUNT(f.market_id) hasFile
		FROM Market m LEFT JOIN MarketFile f ON m.market_id = f.market_id
		GROUP BY m.market_id
		ORDER BY m.market_id DESC
	</select>
	
	<select id="selectMarketById" resultType="com.team.honeybee.domain.MarketDto">
		SELECT market_id,
			   member_id,
			   title,
			   content,
			   inserted,
			   price,
			   product_name,
			   total,
			   enable
		FROM Market
		WHERE market_id = #{market_id}
	</select>
	
	<select id="selectFileNameByMarketId" resultType="string">
		SELECT file fileName
		FROM MarketFile
		WHERE market_id = #{market_id}
	</select>
	
	<insert id="inserMarket" useGeneratedKeys="true" keyColumn="market_id" keyProperty="market_id">
		INSERT INTO Market (member_id, title, content, price, product_name)
		VALUES(#{member_id}, #{title}, #{content}, #{price}, #{product_name})
	</insert>
	
	<insert id="insertFile">
		INSERT INTO MarketFile (market_id, file)
		VALUES (#{market_id}, #{file})
	</insert>
	
	<select id="getFaqAll" resultType="com.team.honeybee.domain.FaqDto">
		SELECT question_id, member_id, title, content, inserted, email
		FROM Faq
		ORDER BY question_id
	</select>
</mapper>