<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.DonationMapper">
	<insert id="dontaionBoardWrite" parameterType="com.team.honeybee.DonationDto">
		INSERT INTO Donation(title,
							content,
							expired,
							goal)
				VALUES(#{title}, 
						#{content}, 
						#{expired}, 
						#{goal})
	</insert>
	
</mapper>