<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.DonationPayMapper">
	
	<!-- 기부금 db저장 -->
	<insert id="donate">
		INSERT INTO DonationPay(member_id, amount, donation_id, reply_id)
		VALUES(#{memberId}, #{amount}, #{donationId}, #{replyIdForPay})
	</insert>
	
	<!--총 모금액 합산  -->
	<update id="addAmount">
		UPDATE Donation 
		SET current_amount 
		= (SELECT SUM(amount) FROM DonationPay WHERE donation_id = #{donationId}) 
		WHERE donation_id = #{donationId};
	</update>

</mapper>