<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.DonationMapper">
	<!-- 게시글 목록 -->
	<select id="selectOrder" resultType="com.team.honeybee.domain.DonationDto">
		SELECT d.donation_id donationId,
				d.title,
				m.nickname,
				d.inserted,
				d.expired,
				d.goal,
				d.current_amount currentAmount,
				f.file MPhoto
		FROM Donation d LEFT JOIN Member m ON d.member_id = m.member_id
						LEFT JOIN DonationFile f ON f.donation_id = d.donation_id
		<if test="topic != ''">
		WHERE d.topic = #{topic}
		</if>
		GROUP BY d.donation_id
		<if test='sort == "" || sort=="1"'>
		ORDER BY d.donation_id DESC
		</if>
		<if test='sort == "2"'>
		ORDER BY d.donation_id ASC
		</if>
		
		
	</select>
	
	<!--기부 게시글 보기  -->
	<select id="getBoard" resultType="com.team.honeybee.domain.DonationDto">
		SELECT d.donation_id donationId,
				d.title,
				d.content,
				m.nickname,
				d.inserted,
				d.expired,
				d.goal,
				d.current_amount currentAmount,
				f.file MPhoto
		FROM Donation d LEFT JOIN Member m ON d.member_id = m.member_id
						LEFT JOIN DonationFile f ON f.donation_id = d.donation_id
		WHERE d.donation_id = #{donationId}
	</select>
	
	<!-- [임시] 작성 게시판 -->
	<insert useGeneratedKeys="true" id="dontaionBoardWrite" parameterType="com.team.honeybee.domain.DonationDto"
			keyColumn="donation_id" keyProperty="donationId">
		INSERT INTO Donation(title,
							content,
							member_id,
							tag,
							expired,
							goal)
				VALUES(#{title}, 
						#{content},
						#{memberId}, 
						#{tag},
						#{expired}, 
						#{goal})
	</insert>
	<!-- 메인 사진 등록  -->
	<insert id="insertMainPhoto" >
		INSERT INTO DonationFile(donation_id, file)
		VALUES (#{donationId}, #{mainPhoto})
	</insert>
	

	
</mapper>