<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.DonationTagMapper">
	<select id="getDonationBoardByhashTag" resultType="com.team.honeybee.domain.DonationDto">
		SELECT d.donation_id donationId,
				d.title,
				m.nickname,
				d.goal,
				d.current_amount currentAmount,
				f.file MPhoto,
				t.hash_tag hashTag
		FROM Donation d LEFT JOIN Tag t ON t.donation_id = d.donation_id 
						LEFT JOIN DonationFile f ON f.donation_id = d.donation_id
						LEFT JOIN Member m ON d.member_id = m.member_id
		WHERE t.hash_tag = #{hashTag}
		GROUP BY d.donation_id
		ORDER BY d.donation_id DESC
	</select>
</mapper>