<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.DonationBoardMapper">
	<!-- 게시글 목록 -->
	<select id="selectOrder" resultType="com.team.honeybee.domain.DonationBoardDto">
		SELECT d.donation_id donationId,
				d.title,
				m.nickname,
				d.inserted,
				d.expired,
				d.goal,
				d.current_amount currentAmount,
				d.topic,
				bi.main_image_name MPhoto,
				bi.image_folder_id folderName
		FROM Donation d LEFT JOIN Member m ON d.member_id = m.member_id
						LEFT JOIN BoardImage bi ON d.donation_id = bi.donation_id
		<if test="topic != ''">
		WHERE d.topic = #{topic} AND d.expired >= DATE_FORMAT(NOW(), '%Y-%m-%d') AND d.enable = 1 AND bi.main_image_name IS NOT NULL
		</if>
		<if test="topic == ''">
		WHERE d.expired >= DATE_FORMAT(NOW(), '%Y-%m-%d') AND d.enable = 1 AND bi.main_image_name IS NOT NULL
		</if>
		GROUP BY d.donation_id
		<if test='sort == "" || sort=="1"'>  
		ORDER BY d.donation_id DESC 
		</if>
		<if test='sort == "2"'>
		ORDER BY d.donation_id ASC
		</if>
		
		
	</select>
	
	<!--기부 게시글 보기  -->
	<select id="getBoard" resultType="com.team.honeybee.domain.DonationBoardDto">
		SELECT d.donation_id donationId,
				d.title,
				d.content,
				d.topic,
				m.nickname,
				d.inserted,
				d.expired,
				d.goal,
				d.product_code productCode,
				d.current_amount currentAmount,
				bi.main_image_name MPhoto,
				bi.image_folder_id folderName
		FROM Donation d LEFT JOIN Member m ON d.member_id = m.member_id
						LEFT JOIN BoardImage bi ON d.donation_id = bi.donation_id
		WHERE d.donation_id = #{donationId} AND bi.main_image_name IS NOT NULL
	</select>
	<!-- 해쉬태그 가져오기 -->
	<select id="getHashTag" resultType="String">
		SELECT hash_tag
		FROM Tag
		WHERE donation_id = #{donationId}
	</select>
	
	
	<!-- [임시] 작성 게시판 -->
	<insert useGeneratedKeys="true" id="dontaionBoardWrite" parameterType="com.team.honeybee.domain.DonationBoardDto"
			keyColumn="donation_id" keyProperty="donationId">
		INSERT INTO Donation(title,
							content,
							member_id,
							topic,
							expired,
							goal)
				VALUES(#{title}, 
						#{content},
						#{memberId},
						#{topic},
						#{expired}, 
						#{goal})
	</insert>
	<!-- 태그 넣기  -->
	<insert id="setHashTag">
		INSERT INTO Tag(hash_tag, donation_id)
		VALUES(#{hashTag}, #{donationId})
	</insert>
	<!-- 메인 사진 등록  -->
	<insert id="insertMainPhoto" >
		INSERT INTO BoardImage(donation_id, main_image_name, member_id, image_folder_id)
		VALUES (#{donationId}, #{mainPhoto}, #{memberId}, #{folderName})
	</insert>
	

	
</mapper>