<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.FaqMapper">

	
	<insert id="insertBoard" useGeneratedKeys="true" keyColumn="questionId"
		keyProperty="questionId" >
		INSERT INTO Faq (member_id, title, content, email)
		values(#{memberId}, #{title}, #{content}, #{email})
		
	</insert>
	<insert id ="insertFile">
	insert into FaqFile(question_id,file)
	values (#{questionId},#{fileName})
	</insert>
	
	<select  id="Faqlist" resultType="com.team.honeybee.domain.FaqDto">
	 SELECT question_id questionId,
			member_id memberId,
			title,
			inserted,
			email,
			enable
			FROM Faq
			order by enable DESC, question_id desc
	</select>
	
	<select  id="getFaq" resultType="com.team.honeybee.domain.FaqDto">
	SELECT question_id questionId,
	       member_id memberId,
	       title,
	       content, 
	       email
	  FROM Faq
	  WHERE question_id = #{questionId}
	
	</select>
	<delete id="deleteFaq">
		DELETE FROM Faq
		WHERE question_id = #{questionId}
	</delete>
	</mapper>