<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.MarketMapper">
	<select id="listMarket"
		resultType="com.team.honeybee.domain.MarketDto">
		SELECT m.market_id marketId,
		m.member_id memberId,
		m.title,
		m.product_name productName,
		m.price,
		f.file thumbNailImage,
		COUNT(f.market_id) hasFile
		FROM Market m LEFT JOIN MarketFile f ON m.market_id =
		f.market_id
		GROUP BY m.market_id
		ORDER BY m.market_id DESC;
	 </select>
	 <!-- <select  id="selectMarketId" resultType="com.team.honeybee.domain.MarketDto">
		SELECT m.market_id,
			   m.title,
		       m.content,
		       m.price,
		       m.product_name,
		       m.total,
		       m.enable,
		       f.file
		 FROM Market m LEFT JOIN MarketFile f ON m.market_id = f.market_id 
   
	 	 WHERE m.market_id = #{market_id }       
		 GROUP BY m.market_id     
	</select>-->
	<select id="selectMarketId" resultType="com.team.honeybee.domain.MarketDto">
		SELECT market_id marketId,
			   member_id memberId,
			   title,
			   content,
			   inserted,
			   price,
			   product_name productName,
			   total,
			   view_count viewCount,
			   enable
		FROM Market
		WHERE market_id = #{market_id}
	</select>
	
	
	
	<select id="selectFileNameByMarketId" resultType="string">
		SELECT file fileName
		FROM MarketFile
		WHERE market_id = #{market_id}
	</select>
	
	<update id="updateViewCount" parameterType="int">
	UPDATE Market 
	set view_count = view_count +1
	where market_id = #{marketId}
	
	</update>
	
	
	

	

</mapper>