<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.MarketMapper">
	<!--마켓리스트   -->
	<select id="listMarket"
		resultType="com.team.honeybee.domain.MarketDto">
		SELECT m.market_id marketId,
		m.member_id memberId,
		m.title,
		m.product_name productName,
		m.price,
		f.file thumbNailImage,
		COUNT(f.market_id) hasFile
		FROM Market m LEFT JOIN MarketFile f ON m.market_id =
		f.market_id
		GROUP BY m.market_id
		ORDER BY m.market_id DESC;
	 </select>
	 <!-- <select  id="selectMarketId" resultType="com.team.honeybee.domain.MarketDto">
		SELECT m.market_id,
			   m.title,
		       m.content,
		       m.price,
		       m.product_name,
		       m.total,
		       m.enable,
		       f.file
		 FROM Market m LEFT JOIN MarketFile f ON m.market_id = f.market_id 
   
	 	 WHERE m.market_id = #{market_id }       
		 GROUP BY m.market_id     
	</select>-->
	<!--마켓 상세 페이지   -->
	<select id="selectMarketId" resultType="com.team.honeybee.domain.MarketDto">
		SELECT market_id marketId,
			   member_id memberId,
			   title,
			   content,
			   inserted,
			   price,
			   product_name productName,
			   view_count viewCount,
			   enable
		FROM Market
		WHERE market_id = #{market_id}
	</select>
	
	
		<!--마켓 상세페이지 그림 불러오기   -->
	<select id="selectFileNameByMarketId" resultType="string">
		SELECT file fileName
		FROM MarketFile
		WHERE market_id = #{market_id}
	</select>
		<!--마켓 조회수 불러오기   -->
	<update id="updateViewCount" parameterType="int">
	UPDATE Market 
	set view_count = view_count +1
	where market_id = #{marketId}
	
	</update>
	<!--마켓상세 페이지  -->
	<select id="postMakret" resultType="com.team.honeybee.domain.MarketDto">
		SELECT market_id marketId,
			   member_id memberId,
			   title,
			   content,
			   inserted,
			   price,
			   product_name productName,
			   total,
			   view_count viewCount,
			   enable
		FROM Market
		WHERE market_id = #{market_id}
	</select>
	<!-- 마켓 카트 -->
	<select id="getMarketById" resultType="com.team.honeybee.domain.MarketDto">
		SELECT m.market_id marketId,
			   m.member_id memberId,
			   m.title,
			   mem.nickname,
			   m.price,
			   m.product_name productName,
			   m.product_code productCode,
			   m.enable,
			   f.file thumbNailImage
		FROM Market m LEFT JOIN MarketFile f ON m.market_id = f.market_id
					  LEFT JOIN Member mem ON m.member_id = mem.member_id
		WHERE m.market_id = #{marketId}
		GROUP BY marketId
	</select>
	
	
<!--	<select id="selectMarketBoard" resultType="com.team.honeybee.domain.OrderPayDto">
		SELECT o.product_name productName,
			   o.member_id memberId,
			   o.nickname,
			   o.finalPlace,
			   o.amount,
			   o.orderName,
			   o.postCode,
			   o.address,
			   o.detailAddress,
			   o.phone,
			   o.comment,
			   o.inserted,
			   f.file thumbNailImage,
			   COUNT(f.market_id) hasFile
		FROM OrderPay o LEFT JOIN MarketFile f ON o.member_id = f.market_id
					    LEFT JOIN Member m ON o.member_id = m.member_id
		                LEFT JOIN Market ma ON o.member_id = ma.member_id
		WHERE o.order_id = ${orderId} 
			AND f.marketFile IS NOT NULL
	</select>  -->
	
	<!-- 마켓 관련 기타 정보 db에 저장  -->
	<update id="insertKakaoPayETCData" parameterType="com.team.honeybee.vo.DonationReplyVO">
		UPDATE OrderPay SET order_name= #{orderName}, 
							 post_code =  #{postCode}, 
							 address = #{address}, 
							 detail_address =  #{detailAddress},
							 phone =  #{phone},
							 comment =#{comment}
			   			WHERE order_id = #{orderId}
	</update>
	
</mapper>