<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.MeetingMapper">
	
	<!-- 모임등록(임시) -->
	<insert id="insertMeeting" useGeneratedKeys="true" keyColumn="meetingId" keyProperty="meetingId">
		INSERT INTO Meeting (member_id, topic, title, content, postcode, address, detailAddress, guest_num, meeting_date, start_date, end_date)
		VALUES (#{memberId}, #{topic}, #{title}, #{content}, #{postcode}, #{address}, #{detailAddress}, #{guestNum}, #{meetingDate}, #{startDate}, #{endDate})
	</insert>

	<!-- file upload 추가 -->
	<insert id="insertFile">
		INSERT INTO MeetingFile (meeting_id, file)
		VALUES (#{meetingId}, #{file})
	</insert>
	
	<!-- 해쉬태그 넣기 추가 -->
	<insert id="setHashTag">
		INSERT INTO Tag(hash_tag, meeting_id)
		VALUES(#{hashTag}, #{meetingId})
	</insert>
	
	<!-- 모임 목록 보기 -->
	<select id="selectMeeting" resultType="com.team.honeybee.domain.MeetingDto">
		SELECT mt.meeting_id meetingId,
				mt.member_id memberId,
				mt.title,
				mt.content,
				mt.postcode,
				mt.address,
				mt.detailAddress,
				mt.inserted,
				mt.meeting_date meetingDate,
				mt.guest_num guestNum,
				mt.start_date startDate,
				mt.end_date endDate,
				mt.topic, 
				m.nickname,
				f.file fileName
		FROM Meeting mt LEFT JOIN Member m ON mt.member_id = m.member_id
						LEFT JOIN MeetingFile f ON mt.meeting_id = f.meeting_id
									<!-- 나중에 파일 입력 추가 해야함 -->
		<if test='topic != ""'>
		WHERE mt.topic = #{topic}
		</if>
		GROUP BY mt.Meeting_id
		<if test='sort == "" || sort=="1"'>
		ORDER BY mt.Meeting_id DESC
		</if>
		<if test='sort == "2"'>
		ORDER BY mt.Meeting_id ASC
		</if>

	</select>
	
	<!-- 기부모임 게시물 보기 -->
	<select id="selectBoardByMeetingId" resultType="com.team.honeybee.domain.MeetingDto">
		SELECT mt.meeting_id meetingId,
				mt.member_id memberId,
				mt.title,
				mt.content,
				mt.postcode,
				mt.address,
				mt.detailAddress,
				mt.inserted,
				mt.start_date startDate,
				mt.end_date endDate,
				mt.tag,
				m.nickname,
				f.file fileName,
				t.hash_tag hashTag,
				g.member_id guest
		FROM Meeting mt LEFT JOIN Member m ON mt.member_id = m.member_id
						LEFT JOIN MeetingFile f ON mt.meeting_id = f.meeting_id
						LEFT JOIN Tag t ON mt.meeting_id = t.meeting_id
						LEFT JOIN MeetingGuest g ON t.meeting_id = g.meeting_id
		WHERE mt.meeting_id = #{meetingId}
	</select>
	
	<!-- 해쉬태그 가져오기 -->
	<select id="getHashTag" resultType="String">
		SELECT hash_tag hashTag
		FROM Tag
		WHERE meeting_id = #{meetingId}
	</select>
	
</mapper>