<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.MeetingReplyMapper">
	
	<!-- 회원 댓글 작성 -->
	<insert id="insertMeetingReply" useGeneratedKeys="true" keyColumn="meetingReplyId" keyProperty="meetingReplyId">
		INSERT INTO MeetingReply (  member_id
							      , meeting_id
							      , content
							      , refNum
							      , step
							      , refOrder
							      , answerNum
							      , parentNum
				 			      )
		        VALUES ( 
		                  #{memberId}
		                , #{meetingId}
		                , #{content}
		                , #{refNum}
					    , 0
					    , 0
					    , #{meetingReplyId}
					    , #{meetingReplyId}
		               )
	</insert>
	
	
	<!-- 회원 자식댓글 작성 -->
	<insert id="insertMeetingReplyChild">
		INSERT INTO MeetingReply (  member_id  <!-- 회원id -->
							      , meeting_id <!-- 보드 id -->
							      , content 
							      , refNum <!-- 그룹 num -->
							      , step   <!-- 들여쓰기 -->
							      , refOrder <!-- 그룹내에서의 순서-->
				 			      )
		        SELECT 
		                  #{memberId}
		                , #{meetingId}		 
		                , #{content}
		                , #{meetingReplyId}
					    , ( SELECT MAX_STEP
					          FROM ( 
					                 SELECT NVL(MAX(step), 0)+1 AS MAX_STEP 
					                   FROM MeetingReply 
									  WHERE meeting_reply_id = #{meetingReplyId}
								   ) AA
						   ) 
						, IFNULL( (SELECT MAX_STEP
						             FROM (SELECT NVL(MAX(refOrder)+1, 1) AS MAX_STEP
						                     FROM MeetingReply 
						                    WHERE meeting_id = #{meetingId}
						                      AND refNum = #{meetingReplyId}
						                    GROUP BY refNum
						                   ) TEMP
						           ), 1)					                 
		         FROM DUAL
	</insert>
	
	<!-- 댓글입력시 생성번호를 부모 댓글 번호로 넣기 -->
	<update id="updateMeetingReplyParent">
		UPDATE MeetingReply 
		SET meeting_reply_parent = #{meetingReplyId},
			meeting_reply_gnum = #{meetingReplyId}
		WHERE meeting_reply_id = #{meetingReplyId}
	</update>
	
	<!-- 조상 댓글 목록 출력 -->
	<select id="selectAllMeetingId" resultType="com.team.honeybee.domain.MeetingReplyDto">
		SELECT r.meeting_reply_id meetingReplyId,
			   r.meeting_id meetingId,
			   r.member_id memberId,
			   r.content,
			   r.inserted,
			   m.nickname
		FROM MeetingReply r JOIN Member m ON r.member_id = m.member_id
		WHERE r.meeting_id = #{meetingId}
	</select>
	
	<!--  자식 댓글 목록 출력 -->
	<select id="selectAllChildrenByParentReplyId" resultType="com.team.honeybee.domain.MeetingReplyDto">
		SELECT r.meeting_reply_id meetingReplyId,
			   r.meeting_id meetingId,
			   r.member_id memberId,
			   r.content,
			   r.inserted,
			   m.nickname
		FROM MeetingReply r JOIN Member m ON r.member_id = m.member_id
		 WHERE refNum = (select refNum
						   from MeetingReply
					      where meeting_reply_id = r.meeting_reply_id
				   	        and step > 0
						)	
		ORDER BY meeting_reply_id
	
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateMeetingReply">
		UPDATE MeetingReply 
		   SET content = #{content}
		 WHERE meeting_id = #{meetingId}
		   AND meeting_reply_id = #{meetingReplyId}
	</update>
	
	<!-- 댓글 삭제 -->
	<update id="deleteMeetingReply">
		DELETE FROM MeetingReply
		 WHERE meeting_id = #{meetingId}
		   AND meeting_reply_id = #{meetingReplyId}
	</update>
	

</mapper>