<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.MeetingReplyMapper">
	
	<!-- 회원 댓글 작성 -->
	<insert id="insertMeetingReply" useGeneratedKeys="true" keyColumn="meetingReplyId" keyProperty="meetingReplyId">
		INSERT INTO MeetingReply (  member_id
							      , meeting_id
							      , content
							      , step
							      , refOrder
							      , delete_info <!-- 삭제 유무 설정 -->
				 			      )
		        VALUES ( 
		                  #{memberId}
		                , #{meetingId}
		                , #{content}
					    , 0
					    , 0
					    , 'N' <!-- 삭제가 안된 상태 N, 삭제된 상태는 Y -->
		               )
	</insert>
	
	
	<!-- 회원 자식댓글 작성 -->
	<insert id="insertMeetingReplyChild">
		INSERT INTO MeetingReply (  member_id  <!-- 회원id -->
							      , meeting_id <!-- 보드 id -->
							      , content 
							      , refNum <!-- 그룹 num -->
							      , step   <!-- 순서(들여쓰기) -->
							      , refOrder <!-- 그룹내에서의 순서-->
							      , delete_info<!-- 삭제 유무 설정 -->
				 			      )
		        SELECT 
		                  #{memberId}
		                , #{meetingId}		 
		                , #{content}
		                , #{meetingReplyId} <!-- refNum 그룹 num -->
					    , ( SELECT MAX_STEP <!-- step 순서(들여쓰기) -->
					          FROM (  <!-- NVL(A,'A의값이 없는 경우의 값') -->
					                 SELECT NVL(MAX(step), 0)+1 AS MAX_STEP <!-- 자식은 1, 손자가 입력되면1+1 -->
					                   FROM MeetingReply 
									  WHERE meeting_reply_id = #{meetingReplyId}
								   ) AA
						   ) 
						, IFNULL( (SELECT MAX_STEP <!-- refOrder 그룹내의 순서값 넣기 -->
						             FROM (SELECT NVL(MAX(refOrder)+1, 1) AS MAX_STEP <!-- 자식은 1, 손자가 입력되면1+1 -->
						                     FROM MeetingReply 
						                    WHERE meeting_id = #{meetingId}
						                      AND refNum = #{meetingReplyId} <!-- 자식은 부모의, 손자는 자식의 id값 할당 -->
						                    GROUP BY refNum <!-- 그룹num 이므로 정렬시 계층형 정렬이 됨 -->
						                   ) TEMP
						           ), 1) <!-- 안의 서브 쿼리는 refOrder에 해당, IFNULL 일 경우 자식이므로 1 넣어주기 -->
						, 'N' <!-- 삭제가 안된 상태 N -->					                 
		         FROM DUAL
	</insert>
	
	<!-- 조상 댓글 목록 출력 -->
	<select id="selectParentsByMeetingId" resultType="com.team.honeybee.domain.MeetingReplyDto">
		SELECT r.meeting_reply_id meetingReplyId,
			   r.meeting_id meetingId,
			   r.member_id memberId,
			   r.content,
			   r.inserted,
			   r.step,
			   r.delete_info deleteInfo,
			   m.nickname
		 FROM MeetingReply r JOIN Member m ON r.member_id = m.member_id
		WHERE r.meeting_id = #{meetingId} 
		  AND r.step = 0 -- 최상위 부모
		ORDER BY meetingReplyId DESC
	</select>
	
	<!--  자식 댓글 목록 출력 -->
	<select id="selectChildByParentId" resultType="com.team.honeybee.domain.MeetingReplyDto">
		SELECT r.meeting_reply_id meetingReplyId,
			   r.meeting_id meetingId,
			   r.member_id memberId,
			   r.content,
			   r.inserted,
			   r.step,
			   r.delete_info deleteInfo,
			   m.nickname
		 FROM MeetingReply r JOIN Member m ON r.member_id = m.member_id
		WHERE r.refNum = #{parentId} 
		ORDER BY meetingReplyId DESC
	</select>

	<!-- 댓글 수정 -->
	<update id="updateMeetingReply">
		UPDATE MeetingReply 
		   SET content = #{content}
		 WHERE meeting_id = #{meetingId}
		   AND meeting_reply_id = #{meetingReplyId}
		   AND member_id = #{memberId}
	</update>
	
	<!-- 댓글 삭제(화면에만 삭제처리, DB에는 남아있음) -->
	<update id="deleteMeetingReply">
		UPDATE MeetingReply 
		   SET delete_info = 'Y' <!-- 삭제된 상태는 Y 할당 -->
		 WHERE meeting_reply_id = #{meetingReplyId}
		   AND member_id = #{memberId}
	</update>
	

	<!-- 안쓰는 쿼리들
	<select id="selectAllChildrenByParentReplyId" resultType="com.team.honeybee.domain.MeetingReplyDto">
		SELECT r.meeting_reply_id meetingReplyId,
			   r.meeting_id meetingId,
			   r.member_id memberId,
			   r.content,
			   r.inserted,
			   r.delete_info deleteInfo,
			   m.nickname
		 FROM MeetingReply r JOIN Member m ON r.member_id = m.member_id
		WHERE refNum = ( SELECT refNum
						   FROM MeetingReply
					      WHERE meeting_reply_id = r.meeting_reply_id
				   	        AND step > 0
						)	
	 ORDER BY meetingReplyId DESC
	
	</select>
	 -->	
	
	
	<select id="selectAllMeetingId" resultType="com.team.honeybee.domain.MeetingReplyDto">
		SELECT r.meeting_reply_id meetingReplyId,
			   r.meeting_id meetingId,
			   r.member_id memberId,
			   r.content,
			   r.inserted,
			   r.delete_info deleteInfo,
			   m.nickname
		  FROM MeetingReply r JOIN Member m ON r.member_id = m.member_id
		 WHERE r.meeting_id = #{meetingId}
	</select>
	
</mapper>