<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.MemberMapper">

	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="com.team.honeybee.domain.MemberDto" >
		INSERT INTO Member (member_id, pw, name, email, nickname, postcode, address, detail, birth, phone)
		VALUES (#{memberId}, #{pw}, #{name}, #{email}, #{nickname}, #{postcode}, #{address}, #{detail}, #{birth}, #{phone})
	</insert>
	
	<!-- 아이디 체크 -->
	<select id="countMemberId" resultType="int">
		SELECT COUNT(member_id) 
		FROM Member 
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 이메일 체크 -->
	<select id="countMemberEmail" resultType="int">
		SELECT COUNT(email) 
		FROM Member 
		WHERE email = #{email}
	</select>
	
	<!-- 닉네임 체크 -->
	<select id="countMemberNickName" resultType="int">
		SELECT COUNT(nickname)
		FROM Member 
		WHERE nickname = #{nickname}
	</select>

	<!-- 권한 추가 -->
	<insert id="insertAuth">
		INSERT INTO Auth(member_id, role)
		VALUES(#{memberId}, #{auth})
	</insert>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultType="int">
		SELECT COUNT(member_id)
		FROM Member
		WHERE name = #{name} AND email = #{email}
	</select>
	
	<select id="findId2" resultType="String">
		SELECT member_id
		FROM Member
		WHERE name = #{name} AND email = #{email}
	</select>
	
	<!-- 마이페이지 -->
	<select id="memberInfo" resultType="com.team.honeybee.domain.MemberDto">
		SELECT member_id memberId, pw, name, email, nickname, postcode, address, detail, phone, profile
		FROM Member
		WHERE member_id = #{memberId}
	</select>
	
 	<!-- 회원 탈퇴 -->
	<delete id="deleteMemberById">
		DELETE FROM Member
		WHERE member_id = #{memberId}
	</delete>
	
	<!-- 회원 권한 삭제 -->
	<delete id="deleteAuthById">
		DELETE FROM Auth
		WHERE member_id = #{memberId}
	</delete>

	<!-- 회원 정보 수정 -->
	<update id="updateMember">
		UPDATE Member
		SET email = #{email},
			nickname = #{nickname},
			postcode = #{postcode},
			address = #{address},
			detail = #{detail},
			<if test="profile != null">
			profile = #{profile},
			</if>
			phone = #{detail}
		WHERE member_id = #{memberId}
	</update>
	
	<select id="selectMemberById" resultType="com.team.honeybee.domain.MemberDto">
		SELECT member_id, pw
		FROM Member
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 이메일 가져오기 -->
	<select id="selectEmailById" resultType="string">
		SELECT email
		FROM Member
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 회원 비밀번호 초기화 -->
	<update id="initPwByMemberId">
		UPDATE Member
		SET pw = #{pw}
		WHERE member_id = #{memberId}
	</update>
	
	<!-- 마이페이지 회원 비밀번호 변경 -->
	<update id="updatePw">
		UPDATE Member
		SET pw = #{newPw}
		WHERE member_id = #{memberId}
	</update>
	
	<!-- 프로필 사진 업로드 -->
	<update id="updateFile">
		UPDATE Member
		SET profile = #{profile}
		WHERE member_id = #{memberId}
	</update>

	<!-- insert 버전 -->
	<!-- 
	<insert id="insertFile">
		INSERT INTO Member (member_id, profile)
		VALUES (#{memberId}, #{profile})
	</insert>
	 -->
</mapper> 