<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.SummerNoteMapper">
	<!-- 공용===============================================================================================  -->
	<!-- 서머노트 작성 중 사진 등록  -->
	<insert  useGeneratedKeys="true"  id="insertImage" keyColumn="image_id" keyProperty="imageId">
		INSERT INTO BoardImage(image_name, member_id, image_folder_id)
		VALUES (#{imageName}, #{memberId}, #{imageFolderId})
	</insert>
	
	<update id="uploadImageUrl">
		UPDATE BoardImage
		SET image_url = #{imageUrl}
		WHERE image_id = #{imageId}
	</update>
	
	<!--비교 후 없는 이름들 지우기  -->
	<delete id="deleteImage">
		DELETE FROM BoardImage
		WHERE image_url = #{imageUrl}
	</delete>
	
	
	<!-- =======================================================================================================  -->
	<!-- Donation===============================================================================================  -->

	
	<!-- imageFolderId에 해당하는 image_url 모두 가져오기 -->
	<select id="getImageUrlByImageFolderId" resultType="String">
		SELECT image_url 
		FROM BoardImage
		WHERE image_folder_id = #{imageFolderId}
	</select>

	
	<!-- d게시글 작성 까지, 업로드 될 이미지에 donationId 넣기  -->
	<update id="setDonationId">
		UPDATE BoardImage
		SET donation_id = #{donationId}
		WHERE image_folder_id = #{imageFolderId}
	</update>
	
	<!-- Talent==================================================================================================== -->
	<!-- 게시글 작성 까지, 업로드 될 이미지에 talent_id넣기  -->
	<update id="setTalentIdByTalent">
		UPDATE BoardImage
		SET talent_id = #{talentId}
		WHERE image_folder_id = #{imageFolderId}
	</update>
</mapper>