<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.honeybee.mapper.TalentBoardMapper">
	<!-- 게시물 리스트 가져오기 -->
	<select id="findOrder" resultType="com.team.honeybee.domain.TalentBoardDto">
		SELECT t.title,
				t.talent_id talentId,
				t.price
		FROM Talent t LEFT JOIN Member m ON t.member_id = m.member_id
		GROUP BY t.talent_id
		ORDER BY t.talent_id DESC 
	</select>
	
	<!-- 특정 게시물 정보 가져오기 -->
	<select id="getBoard" resultType="com.team.honeybee.domain.TalentBoardDto">
		SELECT t.title, 
				t.content,
				t.price, 
				t.expired, 
				t.topic, 
				t.map_level mapLevel, 
				t.address,
				m.nickname,
				bi.main_image_name MPhoto,
				bi.image_folder_id folderName
		FROM Talent t LEFT JOIN Member m ON t.member_id = m.member_id
					 LEFT JOIN BoardImage bi ON t.talent_id = bi.talent_id
		WHERE t.talent_id = #{talentId} AND bi.main_image_name IS NOT NULL;
	</select>
	

	
	<!-- 게시물 쓰기 -->
	<insert  useGeneratedKeys="true"  id="setTalentBoard" parameterType="com.team.honeybee.domain.TalentBoardDto"
				keyColumn="talent_id" keyProperty="talentId">
		INSERT INTO Talent(member_id, 
							title, 
							content,
							 price, 
							 expired, 
							 topic,
							 map_level,
							 address)
		VALUES (#{memberId}, 
				#{title}, 
				#{content}, 
				#{price}, 
				#{expired}, 
				#{topic},
				#{mapLevel},
				#{address})
	</insert>
	<insert id="insertMainPhoto">
		INSERT INTO BoardImage(talent_id, main_image_name, member_id, image_folder_id)
		VALUES(#{talentId}, #{mainPhoto}, #{memberId}, #{folderName})
	</insert>

	

	

</mapper>	